<header class="page-head">
    <h1 class="page-head__logo"><a href="#" rel="index">Project name</a></h1>

    <nav class="nav-primary">
        <ul>
            <li class="nav-primary__item"><a href="#">Link</a></li>
            <li class="nav-primary__item"><a href="#">Link</a></li>
            <li class="nav-primary__item"><a href="#">Link</a></li>
        </ul>
    </nav>
    <!-- /.nav-primary -->
</header>
<!-- /.page-head -->
