{% include '../partials/head.twig' %}

<body class="{{ body_class }}">
    <div class="body-bag">
        {% include '../partials/page-head.twig' %}

        {% block content %}
            No content
        {% endblock %}

        {% include '../partials/page-foot.twig' %}
    </div>
    <!-- /.body-bag -->

    {% include '../partials/scripts.twig' %}
</body>
</html>
