{% include '../partials/head.twig' %}

<body>
    <div class="body-bag">
        {% include '../sections/page-head.twig' %}

        {% block content %}
            No content
        {% endblock %}
    </div>
    <!-- /.body-bag -->

    {% include '../sections/page-foot.twig' %}

    {% include '../partials/scripts.twig' %}
</body>
</html>
