<footer class="page-foot">
    <div class="container">
        <div class="page-foot__inner">
            <p>Footer</p>
        </div>
        <!-- /.page-foot__inner -->
    </div>
</footer>
<!-- /.page-foot -->
