<header class="page-head">
    <div class="container">
        <div class="page-head__inner">
            <h1 class="page-head__logo"><a href="#" rel="index">Project name</a></h1>

            <nav class="nav-primary">
                <ul>
                    <li class="nav-primary__item"><a href="#" class="nav-primary__link">Link</a></li>
                    <li class="nav-primary__item"><a href="#" class="nav-primary__link">Link</a></li>
                    <li class="nav-primary__item"><a href="#" class="nav-primary__link">Link</a></li>
                </ul>
            </nav>
            <!-- /.nav-primary -->
        </div>
        <!-- /.page-head__inner -->
    </div>
</header>
<!-- /.page-head -->
