/*
** Setup - Variables
** ----------------------------------------------------------------------------- */

// Color definitions
$color-black:           #000000 !default;
$color-white:           #FFFFFF !default;

// Z-index Layers
$layer-negative:        -1 !default;
$layer-neutral:         0 !default;
$layer-base:            1 !default;

// Font definitions
$font-arial:            'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;

$font-color:            $color-black !default;
$font-family:           $font-arial !default;
$font-size:             1.8em !default;
$font-line-height:      1.6 !default;

// Base path for assets
$base-path:             '..' !default;

// Transitions
$transition-duration:   0.25s !default;

// Grid definitions
$grid-breakpoints: (
  xs: (
    min-width: 0,
    container: 450px,
    gutter: 20px,
    columns: 2
  ),
  sm: (
    min-width: 490px,
    gutter: 20px,
    columns: 4
  ),
  md: (
    min-width: 680px,
    container: 620px,
    gutter: 30px,
    columns: 6
  ),
  lg: (
    min-width: 992px,
    container: 1032px,
    gutter: 30px,
    columns: 12
  )
) !default;
