/*
** Setup - Variables
** ----------------------------------------------------------------------------- */

// Color definitions
$color-black:           #000000 !default;
$color-white:           #FFFFFF !default;

// Z-index Layers
$layer-negative:        -1 !default;
$layer-neutral:         0 !default;
$layer-base:            1 !default;

// Font definitions
$font-arial:            'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;

$font-color:            $color-black !default;
$font-family:           $font-arial !default;
$font-size:             1.6em !default;
$font-line-height:      1.5 !default;

// Transitions
$transition-duration:   0.25s !default;
